@import "../../vars.css";

.foot{
      color: var(--color-text);
      margin-top: 50px;
      background-color: var(--color-seconadry);
      width: 100vw;
      padding: 5px 5%;
      
}
.title{
      font-size: 40px;
      font-weight: 400;

}
.insta{
      size-adjust: 100px;
      padding-top: 25px;
}

.link{
      color: white;
      padding: 5px;
      text-decoration: none;
      text-size-adjust: 10px;
}