@import "../../vars.css";

.container{
      color: var(--color-text);
      margin-top: 79px;
      margin-left: 10%;
      margin-right: 10%;

}
.title{
      color: var(--color-text);
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
}
.ap{

align-items: center;
gap: 17px;
background-color: #19376d;
background: linear-gradient(90deg,#19376d 0%,rgba(25,55,109,0)100%);
border-radius: 10px;
padding: 24px;
margin-top: 30px;
}
.shams{

      align-items: center;
      gap: 17px;
      background-color: #19376d;
      background: linear-gradient(90deg,#19376d 0%,rgba(25,55,109,0)100%);
      border-radius: 10px;
      padding: 24px;
      margin-top: 30px;
      }
      .thaj{

            align-items: center;
            gap: 17px;
            background-color: #19376d;
            background: linear-gradient(90deg,#19376d 0%,rgba(25,55,109,0)100%);
            border-radius: 10px;
            padding: 24px;
            margin-top: 30px;
            }
            .vadagara{

                  align-items: center;
                  gap: 17px;
                  background-color: #19376d;
                  background: linear-gradient(90deg,#19376d 0%,rgba(25,55,109,0)100%);
                  border-radius: 10px;
                  padding: 24px;
                  margin-top: 30px;
                  }
                                    